.splide__pagination {
    bottom: -3rem !important;
}

.splide__pagination__page.is-active {
    background: #ffeb83 !important;
}
.splide__pagination li {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.splide__arrow:disabled {
    display: none;
}
.splide__arrow {
    top: 100% !important;
}
#slider-back {
    background-color: #f3f3f3;
    margin-right: 10px;
}
#slider-next {
    margin-left: 10px;
}
.slider-nav-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    z-index: 30;
    position: relative;
}
#slider-back,
#slider-next,
#slider-last-next {
    display: none;
}