#nps-wrapper {
    position: fixed;
    bottom: -50px;
    right: 20px;
    transition: all 200ms ease-out;
    z-index: 1000;
}
#nps {
    display: inline-flex;
    background: #769970;
    color: white;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 4px 2px;
    border-radius: 6px;
    font-size: 1rem;
    align-items:center;
    font-weight: 500;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#nps-wrapper.show-nps {
    bottom: 20px;
}

#nps span {
    font-size: 1.5rem;
    margin-left:.4rem;
}