.hbspt-form input,
.hbspt-form select,
.hbspt-form textarea {
    width: 100%;
    padding: 8px 12px;
    background: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: box-shadow 0.3s ease;
    font-family: inherit;
    font-size: 16px;
    color: #000;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    border: 1px solid #c9ced2;
}
.hbspt-form input:focus,
.hbspt-form select:focus,
.hbspt-form textarea:focus {
    box-shadow: none;
    border: 2px solid #FFEB83;
}
.hbspt-form fieldset.form-columns-2 .input {
    margin-right:24px !important;
}
.hbspt-form fieldset > .hs-form-field:last-child .input {
    margin-right:0px !important;
}
.hbspt-form input::-moz-selection, .hbspt-form select::-moz-selection, .hbspt-form textarea::-moz-selection {
    background: #ffe441;
}
.hbspt-form input::selection,
.hbspt-form select::selection,
.hbspt-form textarea::selection {
    background: #ffe441;
}

.hbspt-form input,
.hbspt-form select {
    height: 36px;
    margin-bottom: 0.5rem;
}

.hbspt-form select {
    width: 100%;
}

.hbspt-form textarea {
    min-height: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: vertical;
    vertical-align: top;
}

.hs-button {
    height: auto !important;
    width: auto !important;
    padding: 9px 1.25rem !important;
    border-radius: 4px !important;
    background-color: #FFEB83 !important;
    color: #000 !important;
    font-weight: 500 !important;
    border: 1px solid #FFEB83 !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    border: none !important;
}
.hs-button:hover {
    cursor:pointer;
    background-color: #fff7c2 !important;
}
.hs-form-field {
    margin-bottom: 4px;
}
.hs-form label {
    font-weight: 500;
}
.hs-field-desc {
    font-size: 16px;
}
.hbspt-form fieldset.form-columns-1 .hs-input {
    width: 100% !important;
}
.hs-form fieldset {
    max-width: none !important;
}
.form-big fieldset {
    max-width: 850px !important;
    margin: auto !important;
}
.legal-consent-container p {
    font-size: 14px !important;
}
.form-big .hbspt-form input,
.form-big .hbspt-form select {
    height: 38px !important;
}
.form-big .actions {
    max-width: calc(850px);
    margin: auto;
}
.hbspt-form ul {
    padding: 0;
    list-style-type: none;
}
.hs-form-checkbox-display, .hs-form-booleancheckbox-display {
    display: flex;
    align-items: center;
}
.hs-form-checkbox-display *, .hs-form-booleancheckbox-display * {
    width:auto !important;
    margin-bottom:0 !important;
    font-weight: 500 !important;
}
.hs-form-checkbox-display input, .hs-form-booleancheckbox-display input {
    margin-right:10px;
    height: auto !important;
    box-shadow: none;
}
.hbspt-form fieldset.form-columns-1 .hs-form-checkbox .hs-input, .hbspt-form fieldset.form-columns-1 .hs-form-booleancheckbox .hs-input {
    width: auto !important;
}
.no-list.hs-error-msgs.inputs-list {
    display: none;
}
.hs_submit .actions {
    text-align: end;
    margin-top: 0.75rem;
}
@media (min-width: 1250px) { .hs-form-iframe { width: 700px !important; } }