body {
    -moz-font-feature-settings: "liga" on;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga" on;
    text-rendering: optimizeLegibility;
    max-width: 100vw;
    overflow-x: hidden;
}
.hover-yellow:hover {
    color: #ffeb83 !important;
}
.mockup {
    box-shadow: 0px 36px 89px rgba(0, 0, 0, 0.04), 0px 23.3333px 52.1227px rgba(0, 0, 0, 0.0303704), 0px 13.8667px 28.3481px rgba(0, 0, 0, 0.0242963), 0px 7.2px 14.4625px rgba(0, 0, 0, 0.02), 0px 2.93333px 7.25185px rgba(0, 0, 0, 0.0157037), 0px 0.666667px 3.50231px rgba(0, 0, 0, 0.00962963);
}
.nav-link.w--current {
    color: black;
}
.nav-link:hover {
    color: #efc52e !important;
}
.nav-link.w--current:hover {
    color: #efc52e !important;
}
@media (max-width: 800px) {
    .nav-menu-2 {
        max-height: calc(100vh - 65px);
        overflow: scroll;
    }
    .side-nav {
        height: fit-content;
    }
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat !important;
    background-size: 12px !important;
    background-position: calc(100% - 10px) calc(50% + 4px) !important;
    background-repeat: no-repeat !important;
    background-color: #ffffff !important;
}