.uploadcare--widget__button {
    background: #FFEB83;
    color: black;
    font-weight: 500;
    padding: 9px 1.25rem;
}
.uploadcare--widget__button_type_open:focus, .uploadcare--widget__button_type_open:hover {
    background: #FFEB83;
    color: black;
}