.bandeau-invest-noel {
    display: none;
    align-items: center;
    gap: 50px;
    padding: 40px 80px;
    justify-content: center;
    position: relative;
    width: 100%;
    background: #EDEBE7;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.bandeau-invest-noel-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 10000;
}

.bandeau-invest-noel-close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.bandeau-invest-noel-title {
    font-size: 20px;
    margin-bottom: .4rem;
}
.bandeau-invest-noel-subtitle {
    font-size: 17px;
}
.flipdown {
    scale: .5;
    position: absolute;
    top: -60px;
    left: calc(-50% + 20px);
}
@media screen and (max-width: 1200px) {
    .bandeau-invest-noel {
        padding: 20px 30px;
        gap: 30px;
    }
    .bandeau-invest-noel-close {
        top: 4px;
        right: 4px;
    }
}
@media screen and (max-width: 1080px) {
    .bandeau-invest-noel-wrapper {
        display: none;
    }
}
.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
    background: #004757;
}
.flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
    background: #004757;
}
.flipdown.flipdown__theme-dark .rotor-group-heading::before {
    color: #004757;
}