/* style the Memberstack error message box at the bottom of the screen */
#ms-error-message-box {
    background-color:#fff!important;
    color:red;
    font-weight:normal;
    font-size:1em;
    border-radius:5px;
    border:solid 1px red;
    padding-top:10px;
    padding-bottom:10px;
}
.ms-style {
    margin-top: 0;
}
.ms-password-button {
    background: #FFEB83 !important;
    color: black !important;
    box-shadow: none !important;
    border-radius: 6px !important;
    font-size: 1.1rem !important;
}
.ms-skip-reset-email-link {
    color: black !important;
}