.modal__header .modal__close:before {
    content: "\2715";
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 1000px;
    max-height: 100vh;
    border-radius: 8px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__footer {
    text-align: center;
    margin-top: 4rem;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__content {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom:0!important;
}

.modal__btn {
    font-size: 0.8rem;
    color: rgba(55, 53, 47, 0.65);
    background: transparent;
    text-decoration: underline;
    border-style: none;
    border-width: 0;
    cursor: pointer;
}

.modal__close {
    background: transparent;
    border: 0;
    position: absolute;
    top: 8px;
    right: 8px;
}